div(class=styles.modalContainer)
    div(class=styles.overlay)
    div(class=styles.modal)
        div(class=styles.titleContainer)
            h3(class=styles.title) Sync your tags
            div(id=ids.close class=styles.svg)
                | !{require("/src/assets/x-close.svg")}
        div(id=ids.login class=styles.login)
            div(class=styles.btnContainer)
                button(id=ids.loginBtn) Log in with X/Twitter
        div(id=ids.loading class=styles.loading)
            h3(id=ids.loadingText) Syncing...
        div(id=ids.sync class=styles.sync)
            div(id=ids.syncInfoUser class=styles.syncInfo) Logged in as: poohcom1
            div(id=ids.syncInfoData class=styles.syncInfo) Last synced: 2020-07-01
            div(class=styles.syncContainer)
                button(id=ids.syncBtn)
                    | !{require("/src/assets/cloud-upload.svg")} 
                    div
                        | Sync
                button(id=ids.clearBtn)
                    | !{require("/src/assets/cloud-off.svg")} Clear data
                button(id=ids.logoutBtn)
                    | !{require("/src/assets/logout.svg")} Log out
        div(class=styles.privacy)
            a(href='https://github.com/poohcom1/twitter-art-tags/blob/master/PRIVACY.md' target='_blank') Privacy Policy
            span &nbsp;
            a(href='https://github.com/poohcom1/twitter-art-tags/blob/master/TERMS_OF_SERVICE.md' target='_blank') Terms of Service