div(class=styles.modalContainer)
    div(class=styles.overlay)
    div(class=`${styles.arrowContainer} ${styles.arrowContainerLeft}`)
        | !{require("/src/assets/arrow-left.svg")}
    img(id=ids.image class=styles.image)
    div(class=`${styles.arrowContainer} ${styles.arrowContainerRight}`)
        | !{require("/src/assets/arrow-right.svg")}
