div(class=styles.tagsGallery)
    div(class=styles.title)
        h1 Tag Gallery
        div(class=styles.help title="Right click to view more options for tags and images")
            | !{require("/src/assets/question-mark.svg")}
        div(class=styles.github)
            a(href="https://github.com/poohcom1/twitter-art-tags" target="_blank")
                | !{require("/src/assets/github.svg")}
    div(class=styles.optionsPanel)
        | !{require("/src/assets/tag.svg")}
        input(class=`${styles.addTag}`, type="text" placeholder="Press enter to create a tag...")
        div(class=styles.dotMenu style="margin-left: auto")
            | !{require("/src/assets/dot-menu.svg")}
            div(class=styles.dotMenuDropdown)
                div(class=styles.dropdownItem id=ids.tagExport)
                    | Export
                div(class=styles.dropdownItem id=ids.tagImport)
                    | Import
                div(class=styles.dropdownItem id=ids.tagImportMerge)
                    | Import & Merge
                hr
                div(class=styles.dropdownItem id=ids.tagSync)
                    | Sync...
                div(class=styles.dropdownItem id=ids.downloadImages)
                    | Download images
                hr
                div(class=styles.dropdownItem id=ids.tagClear)
                    | Delete all tags

    hr
    div(class=styles.tagsContainer)
    div(class=styles.imageGallery)
